<% provide(:title, @user.Name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
			  <%= gravatar_for @user %>
			  <%= @user.Name %>
			</h1>
			<%= link_to "Editar", edit_user_path(current_user) %>
		</section>
	</aside>
</div>
