<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Ganagol", root_path, id: "logo" %>
			<nav>
				<% if signed_in? %>
				<ul class="nav pull-right">
					<li><%= link_to "Cerrar Sesion", signout_path, method: "delete" %></li>
				</ul>
				<% end %>
			</nav>
		</div>
	</div>
</header>
